<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="screen-orientation" content="portrait"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_424201_csgjz88n4eryhkt9.css">
    <title>折扣专区</title>
</head>
<body>
    <div id="outLetBox" v-cloak>
        <Head-top head-title="折扣专区" go-back="true"></Head-top>
        <div class="main-container outLetCon">
            <!-- 折扣banner图 -->
            <div class="factory-instr-ad">
                <img src="../../static/images/topic/outLetbanner.png" alt=""/>
            </div>
            <!-- 购买须知 -->
            <div class="outLetNotes">
                <dl class="oLnotes">
                    <dt>
                        <img src="../../static/images/topic/outLetRedwarn.png" alt="">
                        购买须知：
                    </dt>
                    <dd>1、本专区商品均外包装有轻微瑕疵，但绝无</dd>
                    <dd>质量问题，不影响药效，请放心购买</dd>
                    <dd>2、本专区商品非质量问题不予退换货</dd>
                    <dd>
                        <img src="../../static/images/topic/outLetQuestion.png" alt="">
                        <a href="#">什么是轻微瑕疵？</a>
                    </dd>
                </dl>
            </div>
                <!-- 搜索 -->
            <div class="outLetSearch">
                <form class="outLetSearchForm" action="" method="get" >
                    <div class="searchBox clearfix">
                        <div class="inputGroup">
                            <span class="searchIcon">
                                <img src="../../static/images/topic/outLetSearch.png" alt="">
                            </span>
                            <input type="text" name="hotKeywords" class="searchInput" placeholder="请输入药品名称/商品编码">
                            <span class="clearSearch">
                                <img src="../../static/images/topic/icon_close.png" alt="">
                            </span>
                        </div>
                        <!-- 关闭按钮 -->
                        <button type="submit" class="searchBtn">
                            搜索折扣商品
                        </button>
                    </div>
                </form>
                <div class="sortBox">
                    <div class="sort">
                        <a href="javascript:void(0)" class="sortStock" @click="sortByStock"> 按库存-排序</a>
                        <a href="javascript:void(0)" class="sortProduce" @click="sortByTime"> 按新品-排序</a>
                    </div>

                </div>
            </div>
            <div class="product-list"  >
                <div class="product-floor" v-for="(productItemList,index) in outLetArray" :key="index" >
                    <div class="productBox">
                        <div class="product-thumb floor-item">
                            <a :href="'/index/productdetail?code='+productItemList.code+'&discountClick=true'">
                                <img v-lazy="productItemList.imgsrc" alt=""/>
                            </a>
                        </div>
                        <div class="youhui-tis">优惠</div>
                    </div>

                    <div class="product-instr floor-item">
                        <p class="product-name" >
                            <a :href="'/index/productdetail?code='+productItemList.code+'&discountClick=true'">
                                {{productItemList.name}}
                            </a>
                        </p>
                        <p class="factory-name txt-style" :class="userId?'':'mrg10'">
                            {{productItemList.ean}}
                        </p>
                        <template v-if="userId">
                            <p class="product-spec txt-style">
                                {{productItemList.specifications}}
                            </p>
                            <p class="product-package txt-style">
                                中/大包装：{{productItemList.zhongPackage}}/{{productItemList.bigPackage}}{{productItemList.minUnit}}
                            </p>
                            <p class="product-date txt-style">
                                生产日期：{{productItemList.productionDate}}
                            </p>
                            <p class="product-validity txt-style">
                                有效日期：{{productItemList.effectiveDate}}
                                <template v-if="productItemList.validity">
                                    <span style="color:#ff3a32">(1年内，请慎拍)</span>
                                </template>
                            </p>
                        </template>


                        <div class="product-state-box clearfix">
                            <!-- 已登录 -->
                            <div class="product-price f-left" v-if="userId">
                                <template v-if="productItemList.discountPrice == '即将上线'">
                                    <span class="price" >{{productItemList.discountPrice}}</span>
                                </template>
                                <template v-else>
                                    <span class="txt-style">价格：</span>
                                    <span class="price" >￥{{productItemList.discountPrice}}</span>
                                    <span class="unit-kg" style="color:#ff3a32;"> / {{productItemList.minUnit}}</span>
                                </template>
                            </div>
                            <!-- 未登录 -->
                            <div class="product-price f-left" v-else>
                                <span class="price" >{{productItemList.discountPrice}}</span>
                            </div>
                            <div class="product-inventory f-right" v-if="userId">
                                <span class="txt-style">库存：</span>
                                <span class="txt-style" v-if="productItemList.realStock == '缺货'">{{productItemList.realStock}}</span>
                                <span class="txt-style stock" v-html="parseFloat(productItemList.realStock)" v-else ></span>
                            </div>
                            <div class="product-inventory f-right" v-else>
                                <span class="txt-style">库存：</span>
                                <span class="txt-style stock" v-html="productItemList.realStock"></span>
                            </div>
                        </div>
                        <div class="productOperateBox">
                            <p v-if="productItemList.constraint">请按<b>{{productItemList.zhongPackage}}</b>的倍数购买</p>
                            <div class="product-user clearfix">
                                <!-- 强制中包装 -->
                                <template v-if="productItemList.constraint">
                                    <!-- 减 -->
                                    <span class="minus f-left" @click="handleChange(index,-1,parseFloat(productItemList.zhongPackage))">-</span>
                                    <!-- 输入框 -->
                                    <input type="number"  class="product-amount f-left" v-model.number="productItemList.quantity" @blur="enteryChange(index,parseFloat(productItemList.zhongPackage))" :id="'product_'+productItemList.code"/>
                                    <!-- 加 -->
                                    <span class="plus f-left" @click="handleChange(index,1,parseFloat(productItemList.zhongPackage))">+</span>
                                </template>
                                <!-- 非强制中包装 -->
                                <template v-else>
                                    <!-- 减 -->
                                    <span class="minus f-left" @click="handleChange(index,-1,parseFloat(productItemList.minValue))">-</span>
                                    <!-- 输入框 -->
                                    <input type="number"  class="product-amount f-left" v-model.number="productItemList.quantity"  @blur="enteryChange(index,parseFloat(productItemList.minValue))" :id="'product_'+productItemList.code"/>
                                    <!-- 加 -->
                                    <span class="plus f-left" @click="handleChange(index,1,parseFloat(productItemList.minValue))">+</span>
                                </template>
                                <span class="product-unit txt-style f-left">{{productItemList.minUnit}}</span>
                                <!-- 加入购物车按钮 -->
                                <template v-if="userId">
                                    <template v-if="productItemList.constraint">
                                        <a class="add-cart f-right addToCart" v-if="Number(productItemList.price) && productItemList.realStock != '无货' && productItemList.realStock != '缺货'" href="javascript:void(0);" @click="addToCart(productItemList.code,productItemList.quantity,parseFloat(productItemList.zhongPackage))">
                                            加入购物车
                                        </a>
                                    </template>
                                    <template v-else>
                                        <a class="add-cart f-right addToCart" v-if="Number(productItemList.price) && productItemList.realStock != '无货' && productItemList.realStock != '缺货'" href="javascript:void(0);" @click="addToCart(productItemList.code,productItemList.quantity,parseFloat(productItemList.minValue))">
                                            加入购物车
                                        </a>
                                    </template>

                                    <a class="add-cart f-right bgWhite" v-else-if="productItemList.realStock == '无货'" href="javascript:void(0);" @click="arrivalMsg(productItemList.code)">到货通知</a>
                                    <a class="add-cart f-right bgGray" v-else-if="!Number(productItemList.price) || productItemList.realStock == '缺货'" href="javascript:void(0);">加入购物车</a>
                                </template>
                                <template v-else>
                                    <a class="add-cart f-right" href="/user/index#/login">加入购物车</a>
                                </template>
                            </div>
                        </div>

                    </div>
                </div>
                <div class='loading' v-infinite-scroll="loadMore" infinite-scroll-disabled="busy" infinite-scroll-distance="10">
                    加载中...
                </div>
            </div>
        </div>
    </div>
</body>
</html>
