.headerBox {
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    width: 100%;
  }
  .header {
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
    height: 0.88rem;
    line-height: 0.88rem;
    background: #fff;
    text-align: center;
    position: fixed;
    z-index: 100;
    .icon-back {
      width: 30px;
      height: 34px;
      background: url(../images/public/image_back.png) no-repeat;
      background-size: auto auto;
      background-size: 20px 20px;
      display: inline-block;
      position: absolute;
      z-index: 150;
      top: 12px;
      left: 10px;
    }
    h1 {
      width: 100%;
      line-height: .88rem;
      margin: 0;
      padding: 0;
      font-size: 18px;
      font-weight: normal;
      .product-btn, .specification{
        height: .88rem;
        line-height: .88rem;
        margin-left: .4rem;
        display: inline-block;
      }
      .active{
            color: #004c97;
            border-bottom:2px solid #004c97;
        }
    }
    .more-info {
      display: inline-block;
      width: .6rem;
      height: .88rem;
      background: url(../images/public/more_info.png) no-repeat -1px 10px;
      background-size: .7rem .38rem;
      position: absolute;
      z-index: 150;
      top: .08rem;
      right: .2rem;
    }
  }
  .header-position {
    height: 0.88rem;
  }
  #menu-modal{
      min-width: 320px;
      max-width: 640px;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 44px;
      bottom: 0;
      z-index: 100;
      background: rgba(21, 21, 21, 0.4);
  }
  .menu-modal {

    .menu {
      width: 40%;
      height: 225px;
      margin-top: 10px;
      margin-right: 10px;
      border-radius: 5px;
      background: rgba(21, 21, 21, 0.7);
      position: relative;
      .icon-triangle {
        width: 25px;
        height: 10px;
        background: url(../images/public/icon_triangle_01.png) no-repeat;
        display: inline-block;
        position: absolute;
        top: -10px;
        right: 10px;
      }
      .menu-list {
        margin-top: 2px;
        a {
          display: block;
          color: #fff;
          width: 100%;
          height: 100%;
        }
        li {
          border-bottom: 1px solid #5c5c5c;
          padding: 0 10px;
          padding-left: 40px;
          height: 41px;
          line-height: 41px;
          font-size: 16px;
          font-weight: normal;
          color: #ffffff;
          text-align: center;

          &.shopping-card {
            background: url(../images/public/icon_nav_07.png) no-repeat 20%
              50%;
            background-size: 28px 24px;
          }
          &.search {
            background: url(../images/public/icon_nav_08.png) no-repeat 20%
              50%;
            background-size: 26px 24px;
          }
          &.category {
            background: url(../images/public/icon_nav_09.png) no-repeat 20%
              50%;
            background-size: 26px 24px;
          }
          &.home {
            background: url(../images/public/icon_nav_10.png) no-repeat 20%
              50%;
            background-size: 26px 24px;
          }
          &.my {
            background: url(../images/public/icon_nav_11.png) no-repeat 20%
              50%;
            background-size: 26px 24px;
          }
        }
      }
    }
}

//轮播图
.prodectPictureBox{
    width:100%;
    height:4rem;
    min-width: 320px;
    max-width: 640px;
    position: relative;
}
.swiper-slide{
    height:4rem;
    .special-factory-img{
        width:auto;
        display: table;
        vertical-align: middle;
        margin:0 auto;
        height:100%;
        a{
            display: table-cell;
            vertical-align: middle;
            box-sizing: border-box;
            width:100%;
            overflow:hidden;
            img{
                display:block;
                width:auto;
                max-width:100%;
                height: auto;
                max-height: 4rem;
            }
        }
    }
}

/*---产品信息---*/
.productNameBox{
    .productName{
        color: #0D549B;
        font-size: .32rem;
        text-align: center;
        margin: 10px 0;
    }
    .activityMsg{
        color: #FA0019;
        font-size: .26rem;
    }
}
.productInfoBox{
    min-width: 320px;
    max-width: 640px;
    margin:0 auto;
    .productInfo{
        padding:0 .4rem;
        .promotionChoose{
            margin-top: 0.3rem;
        }
        .productDetail{
            margin-top:.3rem;
        }
        .productDetailRow{
            margin-bottom: .3rem;
            font-size:0.32rem;
            span{
                display:inline-block;
                vertical-align:middle;
                font-size:.3rem;
            }
            .productDetailName{
                width: 1.8rem;
                text-align: justify;
                -ms-text-justify: inter-word;
                text-justify: inter-cluster;
                text-align-last: justify;
                -moz-text-align-last: justify;
            }
            .chooseGroup{
                display: inline-block;
                position: relative;
                font-size:.3rem;
                vertical-align: middle;
                label{
                    display: inline-block;
                    width: 1.63rem;
                    height: 0.6rem;
                    line-height: 0.55rem;
                    text-align: center;
                    border: 1px solid #999;
                    font-size: 14px;
                    color: #666;
                    position: relative;
                    border-radius: 0.05rem;
                    &.active{
                        width: 1.63rem;
                        height: 0.6rem;
                        line-height: 0.55rem;
                        border: 1px solid #0068cf;
                        color: #0068cf;
                        color: #0068cf;
                    }
                    &.discountTab{
                        margin-left: 0.26rem;
                    }
                    .chooseInput{
                        width: 100%;
                        height: 100%;
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: none;
                    }
                    .discountTabIcon{
                        display: inline-block;
                        width: 0;
                        height: 0;
                        border-top: 12px solid transparent;
                        border-right: 14px solid transparent;
                        border-bottom: 12px solid #cce1f5;
                        border-left: 14px solid transparent;
                        position: absolute;
                        bottom: -17px;
                        left: 50%;
                        margin-left: -14px;
                    }
                }
            }
        }
        .discountNote{
            width: 100%;
            font-size: .28rem;
            background: #cce1f5;
            padding: 0.2rem 0.3rem;
            border-radius: 0.1rem;
            position: relative;
            font-size:.3rem;
            .discountNoteTit{
                font-weight: bold;
                color: #0068cf;
                background: url("../../static/images/topic/outLetblueIcon.png") no-repeat;
                background-size: auto auto;
                background-size: 22px;
                padding-left: 30px;
                font-size: 16px;
                margin-bottom: 10px;

            }
            .discountNoteText{
                color: #333;
                padding-left: 0.3rem;
                margin-bottom: 10px;
                li{
                    list-style: decimal;
                    line-height: 20px
                }
            }
            .discountNoteMore{
                color: #0068cf !important;
                padding-left: 2px;
                display: block;
            }
        }
    }
}
.similarProductBox{
    font-size:.32rem;
    .detailTitle{
        width:100%;
        height:.8rem;
        line-height:.8rem;
        font-size:.34rem;
        color:#333;
        i{
            width:0.1rem;
            height:.5rem;
            background:#0D549B;
            display:inline-block;
            vertical-align: middle;
        }
    }
    .similarProduct{
        .productList{
            .productListLi{
                display:-webkit-flex;
                display:flex;
                height:2rem;
                .productImgBox{
                    flex:1;
                    .productImg{
                        display:table;
                        vertical-align: middle;
                        a{
                            display:table-cell;
                            vertical-align: middle;
                            img{
                                display:block;
                                width:auto;
                                max-width: 100%;
                                height:auto;
                                max-height:2rem;
                            }
                        }
                    }
                }
                .similarproductInfo{
                    flex:2;
                    height:2rem;
                    display:table;
                    .contain{
                        display: table-cell;
                        height:auto;
                        max-height:2rem;
                        vertical-align: middle;
                    }
                    p{
                        margin-bottom:.1rem;
                    }
                    .appellation{
                        font-size:.28rem;
                        margin-top:.15rem;
                        a{
                            color:#004C97;
                        }
                    }
                    .similarproductPrice{
                        font-size:0.28rem;
                        color:#FA0019;
                    }
                }
            }
        }
    }
}

.problemPhone{
    width:100%;
    height:.8rem;
    line-height: .8rem;
    font-size:.24rem;
    color: #767676;
    background: #EEEEEE;
    text-align: center;
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
}
.place{
    height:.8rem;
}
