/*----专题公共样式---*/
.minus,.plus, .plus-btn, .minus-btn{
    border: 1px solid #dddddd;
    width: 30px;
    height: 30px;
    line-height: 28px;
    font-size: 0.40rem;
    color: #666666;
    text-align: center;
    display: inline-block;
}
.prompt_text{
    font-size: 12px;
    color: #666;
    width: 2.3rem;
    text-align: left;
    b{
        color: #ff3a32;
    }
}
.product-list .product-thumb{
    width: 25%;
    position: relative;
}
.product-amount{
    border: 1px solid #dddddd;
    border-left: transparent;
    border-right: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    width: 1rem;
    height: 30px;
    line-height: 28px;
    font-size: 0.28rem;
    text-align: center;
    color: #ff0000;
}
.product-unit{
    padding-left: 0.15rem;
    line-height: 0.65rem;
}
.add-cart, .arrivalNotice, .add_card, .add_card2{
    height: 0.6rem;
    line-height: 0.6rem;
    background: #0068cf;
    color: #ffffff;
    text-align: center;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    -ms-border-radius: 0.1rem;
    -o-border-radius: 0.1rem;
    border-radius: 0.1rem;
    display: inline-block;
    font-size:0.3rem;
    padding:0 0.12rem;
    &.bgGray{
        background:#ccc;
        color:#999999;
    }
}

.youhui-tis{
    width: 1rem;
    height: 0.3rem;
    line-height: 0.3rem;
    color: #ffffff;
    background: #ff3a32;
    text-align: center;
    position: absolute;
    top: 0.1rem;
    right: -0.3rem;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    font-size: .15rem;
}

/*-------新品上线--------*/
.main-container{
    background:#fff;
    width:auto;
    min-width:320px;
    max-width:640px;
    margin:0 auto;
    .factory-instr-ad{
        img{
            width: auto;
            max-width: 100%;
            vertical-align: middle;
        }
    }
    .product-list{
        .floor-title{
            line-height: 0.7rem;
            background: #eeeeee;
            text-align: center;
            position: relative;
            .line-left{
                width: 1.3rem;
                height: 1px;
                background: #999999;
                position: absolute;
                left: 1.1rem;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            .line-right{
                width: 1.3rem;
                height: 1px;
                background: #999999;
                position: absolute;
                right: 1.1rem;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            .month-product{
                font-size: 0.26rem;
                font-weight: bold;
                display: inherit;
            }
        }
        .product-floor{
            &:not(:last-child){
                border-bottom: 1px solid #dddddd;
                background: #ffffff;
            }
            padding: 0.2rem 0.15rem;
            display: flex;
            display: -webkit-flex;
            flex-direction: row;
            -ms-flex-direction: row;
            -webkit-flex-direction: row;
            flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            -webkit-flex-wrap: nowrap;
            justify-content: center;
            -webkit-justify-content: center;
            align-items: center;
            -webkit-align-items: center;
            .product-thumb{
                text-align: center;
                display: table;
                vertical-align: middle;
                margin:0 auto;
                overflow: hidden;
                a{
                    display: table-cell;
                vertical-align: middle;
                box-sizing: border-box;
                }
                img{
                    width: auto;
                    max-width: 100%;
                }
            }
            .product-instr{
                width: 75%;
                padding-left: 0.15rem;
                .product-name{
                    color: #0068cf;
                    a{
                        font-size: 0.32rem;
                        color: #0068cf;
                    }
                }
                .txt-style{
                    font-size: 0.28rem;
                    color: #666666;
                    padding-top: 0.05rem;
                }
                .product-state-box{
                    padding-top: 0.06rem;
                    margin-bottom: .1rem;
                    .product-price{
                        font-size: 0.3rem;
                        .price{
                            color:#ff3a32;
                        }
                        .unit-kg{
                            color:#333
                        }
                    }
                    .product-inventory{
                        // padding-right: 0.45rem;
                        font-size:0.24rem;
                    }
                }
                .product-user{
                    padding-top: 0.06rem;
                    margin-bottom: .1rem;
                }

            }
        }
    }
}


/*--------活动买赠-----------*/
.product-list-ZX{
    .ZX-pic{
        padding: 0.1rem 0.2rem;
        padding-top: 0.1rem;
        text-align: center;
        height: 3rem;
        &:first-of-type{
            padding-top:0.2rem;
        }
        a{
            img{
                display:inline-block;
                width:auto;
                max-width:100%;
            }
        }
    }
}


/*-------折扣专区-----*/
#outLetBox{
    .outLetCon{
        .outLetNotes{
            width: 100%;
            max-width: 640px;
            padding: .15rem .2rem .15rem;
            background: #fff;
            .oLnotes{
                width: 100%;
                background: #fff7f7;
                border: 1px dashed #ff3a32;
                padding: .17rem .54rem .17rem .56rem;
                font-size: 24px;
                dt{
                    font-size: .28rem;
                    color: #ff3a32;
                    margin-bottom: .1rem;
                    line-height: .3rem;
                    img{
                        width:0.5rem;
                        vertical-align: sub
                    }
                }
                dd{
                    font-size: .24rem;
                    color: #666;
                    margin-bottom: .1rem;
                    line-height: .3rem;
                    img{
                        width: 5%;
                        vertical-align: sub;
                    }
                    a{
                        color: #0068cf;
                        text-decoration: underline;
                    }
                }
            }
        }
        .outLetSearch{
            width: 100%;
            background: #f1f1f1;
            padding: .15rem 0 0 0;
            border-bottom: 1px solid #ddd;
            .outLetSearchForm{
                padding:0 .45rem .11rem .48rem;
                .searchBox{
                    height: .6rem;
                    .inputGroup{
                        float: left;
                        position: relative;
                        .searchIcon{
                            position: absolute;
                            top: .15rem;
                            left: .1rem;
                            img{
                                display: block;
                                width: 60%;
                                vertical-align: middle;
                            }
                        }
                        .searchInput{
                            width: 4.5rem;
                            height: .6rem;
                            line-height: .6rem;
                            border: 1px solid #ccc;
                            border-radius: 0.08rem;
                            padding-left: .4rem;
                            font-size: 0.2rem;
                            float:left;
                        }
                        .clearSearch{
                            position: absolute;
                            top: .18rem;
                            right: -0.15rem;
                            img{
                                display:block;
                                width:40%;
                            }
                        }
                    }
                }
            }
            .searchBtn{
                float: right;
                width: 1.68rem;
                height: .58rem;
                background: #0068cf;
                font-size: .24rem;
                color: #fff;
                text-align: center;
                line-height: .58rem;
                border-radius: 0.08rem;
                outline: none;
                border: none;
            }
            .sortBox{
                width: 100%;
                height: 40px;
                background: #fff;
                .sort{
                    display:flex;
                    padding-top:8px;
                    a{
                        display: inline-block;
                        width: 50%;
                        height: 25px;
                        line-height: 25px;
                        color: #666;
                        font-size: 14px;
                        text-align: center;
                        &.active{
                            color: #0068cf
                        }
                        &.sortStock{
                            border-right: 1px solid #ddd
                        }
                    }
                }
            }
        }
    }
    .mrg10{
        margin-bottom:0.1rem;
    }
    .productBox{
        width:25%;
        position:relative;
        overflow: hidden;
        .product-thumb{
            width:95%;
        }
    }
}
